<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 메인에서 불리는 customerService를 구현해야 겠지 -->
	<bean id="customerService" class="execise.order.service.CustomerServiceImpl">
		<property name="customerRepository" ref="repo">
		</property>

	</bean>
	
	<bean id="repo" class="execise.order.repository.CustomerRepositoryImpl">
	</bean>

</beans>
